this is by tejesh in {{ ansible_os_family }}
this is machine: {{ ansible_default_ipv4.address }}
#free mem: {{ ansible_memfree_mb }}
#total mem: {{ ansible_memtotal_mb }}
#used mem: {{ ansible_memtotal_mb - ansible_memfree_mb }}
